<%- include('partials/header') %>

    <div class="center">
      <h1>Are you rich?</h1>
      <img class="ruby" src="images/ruby.jpg" alt="ruby-gem">
      <div class="">
        <a class="btn btn-home btn-light" href="/login" role="button">Yes</a>
        <a class="btn btn-home btn-outline-light" href="/register" role="button">No</a>
      </div>
    </div>

<%- include('partials/footer') %>
