<%- include('partials/header') %>

  <section id="poor">
    <div class="center">
      <img class="coal" src="images/coal.jpg" alt="coal-poor">
      <h2>You are poor. You are unauthorized and do not have an account.</h2>
      <a class="btn btn-outline-light btn-lg logout" href="/" role="button">Back</a>
    </div>
  </section>

<%- include('partials/footer') %>
