<%- include('partials/header') %>

  <div class="center">
    <img class="ruby" src="images/ruby.jpg" alt="ruby-gem">
    <h1>You are rich!</h1>
    <a class="btn btn-outline-light btn-lg logout" href="/logout" role="button">Log Out</a>
  </div>


<%- include('partials/footer') %>
